.switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.2ms;
    transition-property: all;
    transition: 0.4s;
    height: 25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: red;
    transition: 0.4s;
    padding: 2px;
}

input:checked + .slider:before {
    background-color: green;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.rounded {
    border-radius: 34px;
}

.slider.rounded:before {
    border-radius: 50%;
}

